@import './globals';
@import './normalize';

* {
  color: $--text-accent;
}

a {
  font-size: 16px;
  &:hover {
    color: $--primary-color;
    transition: all 0.4s ease;
  }
}

p {
  color: $--text-add;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  font-family: 'Raleway', sans-serif;
}
