.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  padding: 64px;

  h2 {
    margin-bottom: 18px;
  }
}

.stickyContainer{
  width: 100%;
  height: 300vh;
  position: relative;
}
.card {
  position: sticky;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;

  &[data-visible='true'] {
    opacity: 1;
    visibility: visible;
  }

  p {
    font-size: 16px;
    width: 70%;
  }

  h3 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 8px;
  }
}

.textContainer {
  flex-basis: 50%;
}

.imgContainer {
  position: relative;
  flex-basis: 50%;
  height: 100%;

  img {
    position: absolute;
    transition: .5s;
    top: 30%;
    // left is set inline for each image
  }

  video {
    width: 500px;
    height: 500px;
    position: absolute;
    transition: .5s;
    left: 0;
    top: 30%;
    border-radius: 24px;
  }
}
