.header{
  background-color: transparent;
  padding: 16px 1rem;
  position: fixed;
  width: 100%;
  z-index: 100000;
  transition: all 0.3s;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}